<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<title>ラベル</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" media="screen">
</head>
<body>
	<div class="container">
		Hello World!<span class="label label-default">New</span>
		<span class="label label-default">Default</span>
		<span class="label label-success">Success</span>
		<span class="label label-warning">Warning</span>
		<span class="label label-danger">Danger</span>
		<span class="label label-info">Info</span>
		<span class="label label-warning"><span class="glyphicon glyphicon-warning-sign"></span>無駄</span>

		<div style="height: 30px;"></div>

		<a href="#">受信トレイ <span class="badge">32</span></a>
	</div>
	<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>