<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<title>ナビゲーション下部固定</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" media="screen">
	<style type="text/css">
		body {
			padding-bottom: 70px;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="navbar navbar-default navbar-fixed-bottom">
			<div class="navbar-header">
				<a href="#" class="navbar-brand">ページタイトル</a>
			</div>
			<p class="navbar-text pull-right">こんにちは。<a href="#">ユーザ</a>さん！</p>
		</div>
		<p>Hello World 01</p>
		<p>Hello World 02</p>
		<p>Hello World 03</p>
		<p>Hello World 04</p>
		<p>Hello World 05</p>
		<p>Hello World 06</p>
		<p>Hello World 07</p>
	</div>
	<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>